.project-slides {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50vh;

}

.project-slides button {

    background-color: transparent;
    border: 0;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: static;

    padding: 0;
    margin: 0;

    max-width: 100%;
    height: fit-content;

}

.slide-panel {

    box-shadow: 0 0 20px inset black;
    box-sizing: border-box;

    overflow: hidden;
    position: relative;

    padding: 25px;
    margin: 2%;

    width: 100%;
    height: 100%;

}

.page-card {

    background-color: rgb(48, 48, 48);

    box-shadow: 0 0 10px black;

    cursor: pointer;
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    justify-content: space-evenly;

    position: relative;

    width: 100%;
    height: 100%;
}

.page-card img {

    position: absolute;

    opacity: 1;
    z-index: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;

}

.card-text {

    background-color: rgba(24, 24, 24, 0.75);

    text-align: center;

    position: absolute;
    bottom: 0;
    z-index: 1;

    width: 100%;
    height: auto;
}